---
import Layout from '../../../layouts/Layout.astro';
//import LibCrud from '../../../lib/LibCrud';
//import type { Post } from '../index.astro';
import { trpc } from '../../../utils/trpc';

//
const { id } = Astro.params;
console.log(id);
let item = {};
item = await trpc.chart.get.query(String(id));
console.log(item);
---

<style>
</style>

<!-- MarkUp -->
<Layout title="Welcome to Astro.">
	<div class="container mb-4">
		<a class="btn btn-outline-primary my-1" href={`/chart`}>Back</a>
		<hr class="my-1" />		
		<h3>ER chart: {item.title}</h3>
		<p class="my-1">Id:{id}</p>
		<hr class="my-1" />
		<pre class="mermaid">{item.content}</pre>
		<hr />
		<div class="pb-4">
			<input type="hidden" value={id} id="item_id" />
			<button id="btn_delete" class="btn btn-danger">Delete</button>
		</div>
	</div>
</Layout>
<!-- -->
<script src="../ChartShow.ts"></script>
<script type="module">
	import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
	mermaid.initialize({ startOnLoad: true });
</script>
