---
import Layout from '../../layouts/Layout.astro';
import { trpc } from '../../utils/trpc';

console.log("#trpc/index");
//
const hello = await trpc.hello.query();
console.log(hello);	
//const user = await trpc.userById.query('1');
//console.log(user);
//const userList = await trpc.getUserList.query();
console.log("#userList");
//console.log(userList);
// getList: publicProcedure.query(async () => {
//
const chartList = await trpc.chart.getList.query();
console.log("#chartList");
console.log(chartList);

---

<Layout title="Welcome to Astro.">
	<main class="container">
		<a href={`/`}>[ Top ]</a>
		<h1>ER Chart</h1>
		<a href={`/chart/create`}>[ Add ]</a>
		<hr />
		<ul>
		{
		chartList.map((item) => (
		<li>
			<a href={`/chart/show/${item.id}`}>{item.title}</a>
			<a href={`/chart/edit/${item.id}`}>[edit]</a>
			<hr />
		</li>
		))
		}
		</ul>		
		<!--
		<button id="btn_save" class="btn btn-primary">Add</button>
		 -->
	</main>
</Layout>
<!-- -->
<style>
</style>
<!-- -->
<script src="./Test.ts"></script>
