---
import Layout from '../../layouts/Layout.astro';
import { trpc } from '../../utils/trpc';

console.log("#trpc/index");
//const url = import.meta.env.PUBLIC_API_URL;
//console.log("url=", url);
//
const hello = await trpc.hello.query();
console.log(hello);	
//const user = await trpc.userById.query('1');
//console.log(user);
const userList = await trpc.user.getUserList.query();
console.log("#userList");
console.log(userList);
//taskCreate
const taskList = await trpc.task.getTaskList.query();
console.log("#taskList");
console.log(taskList);
---

<Layout title="Welcome to Astro.">
	<main class="container">
		<a href={`/trpc/create`}>[ Add ]</a>
		<hr />
		<h1>tRPC</h1>
		<hr />
		<div class="row">
			<div class="col-md-12 pt-2">
				<span class="search_key_wrap">
					<input type="text" size="24" class="mx-2 " name="searchKey" id="searchKey"
					placeholder="Title search Key">
				</span>
				<button class="btn btn-sm btn-outline-primary" id="search_btn">Search
				</button>
			</div>
		</div>

		<hr />
		<ul>
		{
		taskList.map((item) => (
		<li>
			<a href={`/trpc/show/${item.id}`}>{item.title}</a>
			<a href={`/trpc/edit/${item.id}`}>[edit]</a>
			<hr />
		</li>
		))
		}
		</ul>		
	</main>
</Layout>
<!-- -->
<style>
</style>

<!-- -->
<script src="./Crud.ts"></script>

<!--
<button class="btn btn-sm btn-outline-primary">Clear</button>
<a href={`/`}>[ Top ]</a>
<hr />		
 -->

